<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
    <link rel="stylesheet" href="main.css" />
    <title>Emmanuel's Portfolio</title>
  </head>
  <body>
    <container class="container">
      <header class="Header">
        <div class="topNavFlex">
          <a class="btn btn-primary" href="/about">About</a>
          <a class="btn btn-primary" href="/contact">Contact</a>
        </div>
      </header>
      <nav class="navSide">
        <div class="flexContainer">
          <img class="logo" src="logo-image.png" alt="logo" />
        </div>
        <ul class="nav">
          <li class="nav-item active">
            <a href="/">Home</a>
          </li>
          <li class="nav-item">
            <a href="projects-users">Projects</a>
          </li>
          <li class="nav-item">
            <a href="blog-users">Blog</a>
          </li>
          <li class="nav-item">
            <a href="guestbook">Guestbook</a>
          </li>
        </ul>
        <div class="flexContainer loginButton">
          <a href="#" class="btn">Log in</a>
        </div>

      </nav>
      <main class="Content">
        {{{body}}}

        <aside class="footer">Created By Emmanuel Lutterodt | Web Development
          Fundamentals 2022 @ School of Engineering, JU</aside>

      </main>
      <footer>

      </footer>
    </container>
  </body>
</html>