<section class="sectionContainer">
  <h2>About</h2>
  <p>Hey, my name is Emmanuel, for those who are forgetful with name Eman in
    short. I come from Berlin, Germany and love to develop new products
    especially in the prototyping stage. You could say I love User Experience
    Design. However, I do have skills Web development. I am currently aiming for
    a major in Informatics, with a specialization in New Media Design at the
    School of Engineering at Jonkoping University. My most prestine hobby at the
    moment is volleyball. Considering that I have the height for it, I think
    it's a resonable sport for me. I have been designing new digital solutions
    for a year and half now, and hope you like what I have posted here on this
    website.
    <br />Have fun!<br />Emmanuel</p>
</section>