<section class="sectionContainer">
  <h2>Create Blog Post</h2>
  <form action="/blogpost-form" method="POST">
    <label class="form-label" for="input-name">Title</label>
    <input
      class="form-input"
      type="text"
      id="input-name"
      placeholder="Blog title here"
      name="title"
    />
    <label class="form-label" for="input-date">Date</label>
    <input class="form-input" type="date" id="input-date" name="date">
    <label class="form-label" for="input-text">Blog Post Text</label>
    <textarea
      class="form-input mb-2"
      id="input-text"
      placeholder="Start writing here."
      rows="10"
      name="content"
    /></textarea>
    <label class="form-label" for="input-description">Short description</label>
    <textarea
      class="form-input mb-2"
      id="input-description"
      placeholder="Start writing here."
      rows="3"
      name="description"
    /></textarea>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</section>