<section class="sectionContainer">
  <h2>Blog</h2>
  <p>Ready to stay up to date? Take look through some of my blog posts!</p>
  {{#if blog.length}}
    {{#each blog}}
      <div class="card">
        <div class="card-header">
          <div class="card-title h5">{{title}}</div>
          <div class="card-subtitle text-gray">{{date}}</div>
        </div>
        <div class="card-body">
          {{description}}
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Read</button>
        </div>
      </div>
    {{/each}}
  {{/if}}
</section>