<section class="sectionContainer">
  <h2>Contact</h2>
  <p>If you wish to write me, you can contact me here. Can't wait!</p>
  <div>
    <h4>Email</h4>
    <p>emmanuel-fake@gmail.com</p>
  </div>
  <div>
    <h4>Phone Number</h4>
    <p>+49 019228392</p>
  </div>
  <div>
    <h4>Instagram</h4>
    <p>@eman_ethan</p>
  </div>
</section>