<section class="sectionContainer">
  <h2>Write Your Guestbook Entry</h2>
  {{#if validationErrors.length}}
    <p>Couldn't create a guestbook entry. Make sure that...</p>
    {{#each validationErrors}}
      <div class="toast toast-warning mb-2">{{this}}</div>
    {{/each}}
  {{/if}}
  <form action="/guestbook-form" method="POST">
    <label class="form-label" for="input-name">Name</label>
    <input
      class="form-input"
      type="text"
      id="input-name"
      placeholder="Your name"
      name="name"
      value="{{name}}"
    />
    <label class="form-label" for="input-comment">Comment</label>
    <textarea
      class="form-input mb-2"
      id="input-name"
      placeholder="Write a comment here"
      name="comment"
      value="{{comment}}"
    /></textarea>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</section>