<section class="sectionContainer">
  <h2>Create New Project</h2>
  <form action="/projects-form" method="POST">
    <label class="form-label" for="input-name">Name of the project</label>
    <input
      class="form-input"
      type="text"
      id="input-name"
      placeholder="Blog title here"
      name="name"
    />
    <label class="form-label" for="input-date">Date</label>
    <input class="form-input" type="date" id="input-date" name="date">
    <label class="form-label" for="input-information">Information about the project</label>
    <textarea
      class="form-input mb-2"
      id="input-information"
      placeholder="Start writing here."
      rows="10"
      name="content"
    /></textarea>
    <label class="form-label" for="input-description">Short description</label>
    <textarea
      class="form-input mb-2"
      id="input-description"
      placeholder="Short Description here."
      rows="4"
      name="description"
    /></textarea>
    <label class="form-label" for="input-imageurl">Image URL</label>
    <input class="form-input" type="text" id="input-imageurl" placeholder="Insert image URL here" name="image">
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</section>