<section class="sectionContainer">
  <h2>Create New Project</h2>
  <form action="/projects-form" method="GET">
    <label class="form-label" for="input-name">Title</label>
    <input
      class="form-input"
      type="text"
      id="input-name"
      placeholder="Blog title here"
    />
    <label class="form-label" for="input-date">Date</label>
    <input class="form-input" type="date" id="input-date">
    <label class="form-label" for="input-information">Information about the project</label>
    <textarea
      class="form-input mb-2"
      id="input-information"
      placeholder="Start writing here."
      rows="10"
    /></textarea>
    <label class="form-label" for="input-description">Short description</label>
    <textarea
      class="form-input mb-2"
      id="input-description"
      placeholder="Short Description here."
      rows="4"
    /></textarea>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</section>