<section class="sectionContainer">
  <h2>Update Your Guestbook Entry</h2>
  {{#if errors.length}}
    <p>Couldn't update the guestbook entry. Make sure that...</p>
    {{#each errors}}
      <div class="toast toast-warning mb-2">{{this}}</div>
    {{/each}}
  {{/if}}
  <form action="/update-guestbook/{{guestbookEntries.id}}" method="POST">
    <label class="form-label" for="input-name">Name</label>
    <input
      class="form-input"
      type="text"
      id="input-name"
      placeholder="Your name"
      name="name"
      value="{{guestbookEntries.name}}"
    />
    <label class="form-label" for="input-comment">Comment</label>
    <textarea
      class="form-input mb-2"
      id="input-name"
      placeholder="Write a comment here"
      name="comment"
    />{{guestbookEntries.comment}}</textarea>
    <input class="btn btn-primary" type="submit" value="Update">
  </form>
</section>