:root {
  --grey: #f4f4f4;
  --dark-grey: #a7a7a7;
  --background-color: #fbfbfb;
  --white: #ffffff;
  --warning-color: #e34242;
}

body {
  background-color: var(--background-color);
  position: relative;
  min-height: 100vh;
}

header {
  padding-left: 67vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Nav Header Header Header Header"
    "Nav Content Content Content Content"
    "Nav Content Content Content Content"
    "Nav Content Content Content Content";
  gap: 5%;
  padding: 0;
}

.Header {
  grid-area: Header;
}

.navSide {
  grid-area: Nav;
  background-color: var(--grey);
  height: 100vh;
  margin: 0;
  padding-top: 5vh;
  position: fixed;
  width: 17%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  justify-content: center;
}

.Content {
  grid-area: Content;
}

.topNavFlex {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.logo {
  width: 60%;
}

.flexContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sectionContainer {
  margin-top: 5%;
  padding-right: 25vw;
}

.footerFlexbox {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}

.footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 1%;
  text-align: center;
  color: var(--dark-grey);
}

.contactCard {
  padding: 0.75em;
  background-color: var(--white);
  margin-bottom: 1em;
  border-radius: 15px;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
}

.sectionContainerProjects {
  margin-top: 5%;
  margin-right: 5vw;
}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-image {
  overflow: hidden;
  height: 200px;
}

.mb-3 {
  margin-bottom: 100px;
}

.mt-3 {
  margin-top: 20px;
}

.loginButton {
  position: absolute;
  bottom: 5%;
}

.tile-title {
  margin-bottom: 0;
}

.tile {
  margin-bottom: 20px;
}

.topContainer {
  margin-bottom: 50px;
}

.warningButton {
  color: var(--warning-color);
  border-color: var(--warning-color);
}

.imageContainer {
  height: 400px;
  width: 1000px;
  overflow: hidden;
}

.flex-buttons {
  display: flex;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toast {
  width: 50%;
}

.formFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginCard {
  background-color: var(--white);
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.selfAlign {
  align-self: flex-start;
}

.inputFieldLength {
  width: 300px;
}

.centerHeading {
  text-align: center;
}
